* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

table {
    margin: 20px auto;
    width: 80%;
    height: 80%;
    border: 3px solid blue;
    border-right: 3px solid blue;
}

th {
    border-bottom: 3px solid grey;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 3px solid grey;
    font-size: large;
}

caption {
    background-color: blue;
    font-size: xx-large;
    color: white;
    line-height: 50px;
}

th {
    font-size: x-large;
    font-weight: bolder;
}

.complete {
    color: rgb(19, 180, 54);
}

.incomplete {
    color: red;
}

td:nth-child(5) {
    width: 40px;
}

td:nth-child(3) {
    width: 120px;
}

td:nth-child(4) {
    width: 150px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

#pencil {
    margin-right: 10px;
}

#pencil:hover {
    color: blue;
}

#trash:hover {
    color: red;
}