* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgreen;
    height: 100vh;
    width: 100%;
}


.box1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
}
.heading{
    font-size: 100px;
    font-weight: bold;
    color: black;
}
form .text,form .addbtn{
    outline: none;
    border: none;
    background-color: white;
    color: black;
    margin-top: 20px;
    font-size: 30px;
    padding: 5px;
}
form .addbtn{
    padding: 5px;
    color: blue;
}
form .addbtn:hover{
    background-color: cornflowerblue;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.todolist{
    list-style: none;
    min-width: 25%;
}
.todo{
    margin: 5px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:15px ;
}
.todo-li{
    font-size: 30px;
    background-color: white;
    flex: 1;
    padding: 5px;
    padding-left: 8px;
}
.tick-btn,.del-btn{
    background-color: aquamarine;
    color: white;
    font-size: 25px;
    padding: 5px;
    outline: none;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
}
.del-btn{
    background-color: crimson;
    padding-left: 6px;
    padding-right: 6px;
}
.fa-check,.fa-trash{
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    opacity: .5;
}