* {
    margin: 0px;
    padding: 0px;
}

a i {
    margin-right: 8px;
    color: white;
}

.header li:hover a i {
    color: black;
}

#happy {
    background-color: none;
}

#happy:hover {
    background-color: none;
}

#container {
    width: 100%;
}

.header {
    position: fixed;
    background-color: rgb(16, 19, 44);
    width: 100%;
    height: 70px;
    margin: 0px auto;
}

.header h2 {
    float: left;
    line-height: 70px;
    text-transform: capitalize;
    color: white;
}

.header .menu {
    list-style: none;
    float: right;
}

.menu li {
    display: inline-block;
    line-height: 70px;
    font-size: larger;
    text-transform: uppercase;
    padding: 0 20px;
    transition: 0.4s;
}

.menu li:hover {
    background-color: whitesmoke;
}

.menu li a {
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: larger;
    transition: 0.4s;
}

.show-btn:hover,
.hide-btn:hover,
.menu li a:hover {
    color: red;
}

.show-btn,
.hide-btn {
    font-size: 30px;
    color: white;
    line-height: 70px;
    transition: 0.4s;
    display: none;
}

.show-btn {
    float: right;
}

#chk {
    visibility: hidden;
    z-index: -10;
    position: fixed;
}

div>h1 {
    color: red;
    margin: 20px;
    background-color: rosybrown;
    text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 80%;
}

#para {
    color: black;
    background-color: lightgreen;
    margin: 20px;
}

#head {
    margin-top: 65px;
}

@media(min-width: 1151px) {
    #head {
        background-image: url('https://raw.githubusercontent.com/manishgautam30/FullStack_2020/master/images/header.JPG');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        width: 100%;
        border-radius: 10px;
        font-size: x-large;
        color: transparent;
        font-weight: bold;
        margin-bottom: 20px;
    }
    #banner {
        background-image: url('https://cloud.fullstackacademy.com/FSA-blog-header-code-from-home.jpg?mtime=20200330123450');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        height: 650px;
        width: 100%;
        justify-content: center;
        border-radius: 10px;
        font-size: x-large;
        font-weight: bold;
        color: transparent;
        margin-bottom: 10px;
    }
    #content {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
    }
    #mid1 {
        order: 1;
        justify-content: center;
        align-content: center;
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
    }
    #c1 {
        order: 1;
        height: 300px;
        width: 300px;
        border: 2px solid red;
        background-image: url('https://library.kissclipart.com/20181001/faw/kissclipart-transparent-image-of-a-boy-clipart-boy-clip-art-fb030a3a80849eeb.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 50%;
        margin-right: 20px;
        font-size: x-large;
        color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #c2 {
        order: 2;
        height: 300px;
        width: 300px;
        margin-right: 20px;
        background-image: url('https://img.pngio.com/-clipart-boy-school-clipart-drawing-for-kids-boy-clipart-boy-clipart-png-820_807.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 50%;
        font-size: x-large;
        color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid red;
    }
    #c3 {
        order: 3;
        height: 300px;
        width: 300px;
        margin-right: 20px;
        background-image: url('https://library.kissclipart.com/20181001/faw/kissclipart-transparent-image-of-a-boy-clipart-boy-clip-art-fb030a3a80849eeb.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 50%;
        font-size: x-large;
        color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid red;
    }
    #c4 {
        order: 4;
        height: 300px;
        width: 300px;
        background-image: url('https://img.pngio.com/-clipart-boy-school-clipart-drawing-for-kids-boy-clipart-boy-clipart-png-820_807.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 50%;
        font-size: x-large;
        color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid red;
    }
    #hed2 {
        order: 2;
        margin-bottom: 20px;
    }
    #mid2 {
        order: 3;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    #left {
        order: 1;
        width: 48%;
        height: 580px;
        background-color: aqua;
        color: black;
        margin-right: 15px;
        font-size: x-large;
        display: flex;
    }
    #right {
        order: 2;
        width: 50%;
        height: 580px;
        display: flex;
        flex-direction: column;
    }
    #article1 {
        background-image: url('https://media.geeksforgeeks.org/wp-content/cdn-uploads/html-1024x341.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: transparent;
        order: 1;
        height: 180px;
        width: 100%;
        margin-bottom: 20px;
        font-size: x-large;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #article2 {
        background-image: url('https://cdn.educba.com/academy/wp-content/uploads/2019/03/Introduction-To-CSS-1.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: transparent;
        order: 2;
        height: 180px;
        font-weight: bold;
        width: 100%;
        margin-bottom: 20px;
        font-size: x-large;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #article3 {
        background-image: url('https://www.tutorialrepublic.com/lib/images/javascript-illustration.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: transparent;
        order: 3;
        height: 180px;
        font-weight: bold;
        width: 100%;
        font-size: x-large;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #hed3 {
        order: 4;
        margin-top: 20px;
    }
    #mid3 {
        margin-top: 20px;
        order: 5;
        justify-content: center;
        align-content: center;
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
    }
    #sq1 {
        background-color: red;
        order: 1;
        height: 500px;
        width: 350px;
        margin-right: 30px;
        max-width: fit-content;
        max-height: fit-content;
        float: left;
        background-color: white;
    }
    #sq2 {
        background-color: red;
        order: 2;
        height: 500px;
        width: 350px;
        margin-right: 30px;
        max-width: fit-content;
        max-height: fit-content;
        float: left;
        background-color: white;
    }
    #sq3 {
        background-color: red;
        order: 3;
        height: 500px;
        width: 350px;
        margin-right: 30px;
        max-width: fit-content;
        max-height: fit-content;
        float: left;
        background-color: white;
    }
    #sq4 {
        background-color: red;
        order: 4;
        height: 500px;
        width: 350px;
        margin-right: 30px;
        max-width: fit-content;
        max-height: fit-content;
        float: left;
        background-color: white;
    }
    #footer {
        background-color: purple;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 100%;
        border-radius: 10px;
        font-size: x-large;
        color: white;
        margin-top: 20px;
    }
    #happy {
        background-color: red;
    }
    #happy:hover {
        background-color: blue;
    }
    div>p {
        text-align: justify;
        margin: 10px 15px 10px;
    }
    div>a {
        text-decoration: none;
        color: white;
        display: block;
        text-align: center;
        padding: 10px;
        margin: 10px;
        border-radius: 7px;
    }
    div>h4 {
        text-align: center;
        margin: 10px;
        font-size: x-large;
    }
    div>h1 {
        text-transform: uppercase;
        text-align: center;
        color: black;
    }
    div>img {
        width: 90%;
        height: 45%;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 10px;
    }
    #lala:hover {
        background-color: red;
    }
    #lala {
        background-color: whitesmoke;
        text-decoration: none;
        color: black;
        display: block;
        text-align: center;
        padding: 5px;
        margin: 10px;
        border-radius: 2px;
    }
}

@media(min-width: 800px) and (max-width: 1150px) {
    #head {
        background-image: url('https://raw.githubusercontent.com/manishgautam30/FullStack_2020/master/images/header.JPG');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        width: 100%;
        border-radius: 10px;
        font-size: x-large;
        color: transparent;
        font-weight: bold;
        margin-bottom: 20px;
    }
    #banner {
        background-image: url('https://cloud.fullstackacademy.com/FSA-blog-header-code-from-home.jpg?mtime=20200330123450');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        height: 650px;
        width: 100%;
        justify-content: center;
        border-radius: 10px;
        font-size: x-large;
        font-weight: bold;
        color: transparent;
        margin-bottom: 10px;
    }
    #content {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
    }
    #mid1 {
        order: 1;
        justify-content: center;
        align-content: center;
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
    }
    #c1 {
        order: 1;
        height: 300px;
        width: 300px;
        border: 2px solid red;
        background-image: url('https://library.kissclipart.com/20181001/faw/kissclipart-transparent-image-of-a-boy-clipart-boy-clip-art-fb030a3a80849eeb.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 50%;
        margin-right: 20px;
        font-size: x-large;
        color: transparent;
        margin-right: auto;
        display: block;
        float: none;
        margin-left: auto;
        align-items: center;
        justify-content: center;
    }
    #c2 {
        order: 2;
        height: 300px;
        width: 300px;
        margin-right: 20px;
        background-image: url('https://img.pngio.com/-clipart-boy-school-clipart-drawing-for-kids-boy-clipart-boy-clipart-png-820_807.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 50%;
        font-size: x-large;
        color: transparent;
        margin-right: auto;
        display: block;
        float: none;
        margin-left: auto;
        align-items: center;
        justify-content: center;
        border: 2px solid red;
    }
    #c3 {
        order: 3;
        height: 300px;
        width: 300px;
        margin-right: 20px;
        background-image: url('https://library.kissclipart.com/20181001/faw/kissclipart-transparent-image-of-a-boy-clipart-boy-clip-art-fb030a3a80849eeb.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 50%;
        font-size: x-large;
        color: transparent;
        margin-right: auto;
        display: block;
        float: none;
        margin-left: auto;
        align-items: center;
        justify-content: center;
        border: 2px solid red;
    }
    #c4 {
        order: 4;
        height: 300px;
        width: 300px;
        background-image: url('https://img.pngio.com/-clipart-boy-school-clipart-drawing-for-kids-boy-clipart-boy-clipart-png-820_807.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 50%;
        font-size: x-large;
        color: transparent;
        margin-right: auto;
        display: block;
        float: none;
        margin-left: auto;
        align-items: center;
        justify-content: center;
        border: 2px solid red;
    }
    #hed2 {
        order: 2;
        margin-bottom: 20px;
    }
    #mid2 {
        order: 3;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    #left {
        order: 1;
        width: 48%;
        height: 580px;
        background-color: aqua;
        color: black;
        margin-right: 15px;
        font-size: x-large;
        display: flex;
    }
    #right {
        order: 2;
        width: 50%;
        height: 580px;
        display: flex;
        flex-direction: column;
    }
    #article1 {
        background-image: url('https://media.geeksforgeeks.org/wp-content/cdn-uploads/html-1024x341.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: transparent;
        order: 1;
        height: 180px;
        width: 100%;
        margin-bottom: 20px;
        font-size: x-large;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #article2 {
        background-image: url('https://cdn.educba.com/academy/wp-content/uploads/2019/03/Introduction-To-CSS-1.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: transparent;
        order: 2;
        height: 180px;
        font-weight: bold;
        width: 100%;
        margin-bottom: 20px;
        font-size: x-large;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #article3 {
        background-image: url('https://www.tutorialrepublic.com/lib/images/javascript-illustration.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: transparent;
        order: 3;
        height: 180px;
        font-weight: bold;
        width: 100%;
        font-size: x-large;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #hed3 {
        order: 4;
        margin-top: 20px;
    }
    #mid3 {
        margin-top: 20px;
        order: 5;
        justify-content: center;
        align-content: center;
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
    }
    #sq1 {
        background-color: red;
        order: 1;
        height: 800px;
        width: 350px;
        margin-right: 30px;
        max-width: fit-content;
        max-height: fit-content;
        background-color: white;
        margin-right: auto;
        display: block;
        float: none;
        margin-left: auto;
    }
    #sq2 {
        background-color: red;
        order: 2;
        height: 800px;
        width: 350px;
        margin-right: 30px;
        max-width: fit-content;
        max-height: fit-content;
        background-color: white;
        margin-right: auto;
        display: block;
        float: none;
        margin-left: auto;
    }
    #sq3 {
        background-color: red;
        order: 3;
        height: 800px;
        width: 350px;
        margin-right: 30px;
        max-width: fit-content;
        max-height: fit-content;
        background-color: white;
        margin-right: auto;
        display: block;
        float: none;
        margin-left: auto;
    }
    #sq4 {
        background-color: red;
        order: 4;
        height: 800px;
        width: 350px;
        margin-right: 30px;
        max-width: fit-content;
        max-height: fit-content;
        background-color: white;
        margin-right: auto;
        display: block;
        float: none;
        margin-left: auto;
    }
    #footer {
        background-color: purple;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 100%;
        border-radius: 10px;
        font-size: x-large;
        color: white;
        margin-top: 20px;
    }
    div>a:hover {
        background-color: blue;
    }
    div>p {
        text-align: justify;
        margin: 10px 15px 10px;
    }
    div>a {
        background-color: red;
        text-decoration: none;
        color: white;
        display: block;
        text-align: center;
        padding: 10px;
        margin: 10px;
        border-radius: 7px;
    }
    div>h4 {
        text-align: center;
        margin: 10px;
        font-size: x-large;
    }
    div>h1 {
        text-transform: uppercase;
        text-align: center;
        color: black;
    }
    div>img {
        width: 90%;
        height: 45%;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 10px;
    }
    #lala:hover {
        background-color: red;
    }
    #lala {
        background-color: whitesmoke;
        text-decoration: none;
        color: black;
        display: block;
        text-align: center;
        padding: 5px;
        margin: 10px;
        border-radius: 2px;
    }
}

@media(max-width: 900px) {
    .show-btn,
    .hide-btn {
        display: block;
    }
    .menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 75%;
        height: 100vh;
        background-color: rosybrown;
        padding: 80px 0px;
        text-align: center;
        transition: .7s;
        line-height: normal;
    }
    #chk:checked~.menu {
        right: 0;
    }
    .menu li {
        display: block;
        line-height: 70px;
        font-size: larger;
        text-transform: uppercase;
        padding: 0 20px;
    }
    .hide-btn {
        position: absolute;
        right: 3%;
        top: 0px;
    }
}

@media(max-width: 799px) {
    .show-btn,
    .hide-btn {
        display: block;
    }
    .menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 75%;
        height: 100vh;
        background-color: rosybrown;
        padding: 80px 0px;
        text-align: center;
        transition: .7s;
        line-height: normal;
    }
    #chk:checked~.menu {
        right: 0;
    }
    .menu li {
        display: block;
        line-height: 70px;
        font-size: larger;
        text-transform: uppercase;
        padding: 0 20px;
    }
    .hide-btn {
        position: absolute;
        right: 3%;
        top: 0px;
    }
    #head {
        background-image: url('https://raw.githubusercontent.com/manishgautam30/FullStack_2020/master/images/header.JPG');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        width: 100%;
        border-radius: 10px;
        font-size: x-large;
        color: transparent;
        font-weight: bold;
        margin-bottom: 20px;
    }
    #banner {
        background-image: url('https://cloud.fullstackacademy.com/FSA-blog-header-code-from-home.jpg?mtime=20200330123450');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        height: 650px;
        width: 100%;
        justify-content: center;
        border-radius: 10px;
        font-size: x-large;
        font-weight: bold;
        color: transparent;
        margin-bottom: 10px;
    }
    #content {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
    }
    #mid1 {
        order: 1;
        justify-content: center;
        align-content: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }
    #c1 {
        order: 1;
        height: 300px;
        width: 300px;
        border: 2px solid red;
        background-image: url('https://library.kissclipart.com/20181001/faw/kissclipart-transparent-image-of-a-boy-clipart-boy-clip-art-fb030a3a80849eeb.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 50%;
        margin-right: auto;
        display: block;
        float: none;
        margin-left: auto;
        font-size: x-large;
        color: transparent;
        align-items: center;
        justify-content: center;
    }
    #c2 {
        order: 2;
        height: 300px;
        width: 300px;
        background-image: url('https://img.pngio.com/-clipart-boy-school-clipart-drawing-for-kids-boy-clipart-boy-clipart-png-820_807.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 50%;
        font-size: x-large;
        margin-right: auto;
        display: block;
        float: none;
        margin-left: auto;
        color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid red;
    }
    #c3 {
        order: 3;
        height: 300px;
        width: 300px;
        margin-right: auto;
        display: block;
        float: none;
        margin-left: auto;
        background-image: url('https://library.kissclipart.com/20181001/faw/kissclipart-transparent-image-of-a-boy-clipart-boy-clip-art-fb030a3a80849eeb.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 50%;
        font-size: x-large;
        color: transparent;
        align-items: center;
        justify-content: center;
        border: 2px solid red;
    }
    #c4 {
        order: 4;
        height: 300px;
        width: 300px;
        background-image: url('https://img.pngio.com/-clipart-boy-school-clipart-drawing-for-kids-boy-clipart-boy-clipart-png-820_807.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 50%;
        font-size: x-large;
        margin-right: auto;
        display: block;
        float: none;
        margin-left: auto;
        color: transparent;
        align-items: center;
        justify-content: center;
        border: 2px solid red;
    }
    #hed2 {
        order: 2;
        margin-bottom: 20px;
    }
    #mid2 {
        order: 3;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    #left {
        order: 1;
        width: 100%;
        height: 500px;
        background-color: aqua;
        color: black;
        font-size: x-large;
        display: flex;
        margin-bottom: 20px;
    }
    #right {
        order: 2;
        width: 100%;
        height: 580px;
        display: flex;
        flex-direction: column;
    }
    #article1 {
        background-image: url('https://media.geeksforgeeks.org/wp-content/cdn-uploads/html-1024x341.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: transparent;
        order: 1;
        height: 180px;
        width: 100%;
        margin-bottom: 20px;
        font-size: x-large;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #article2 {
        background-image: url('https://cdn.educba.com/academy/wp-content/uploads/2019/03/Introduction-To-CSS-1.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: transparent;
        order: 2;
        height: 180px;
        font-weight: bold;
        width: 100%;
        margin-bottom: 20px;
        font-size: x-large;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #article3 {
        background-image: url('https://www.tutorialrepublic.com/lib/images/javascript-illustration.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: transparent;
        order: 3;
        height: 180px;
        font-weight: bold;
        width: 100%;
        font-size: x-large;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #hed3 {
        order: 4;
        margin-top: 20px;
    }
    #mid3 {
        margin-top: 20px;
        order: 5;
        justify-content: center;
        align-content: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }
    #sq1 {
        background-color: red;
        order: 1;
        height: 500px;
        width: 350px;
        margin-right: 30px;
        max-width: fit-content;
        max-height: fit-content;
        background-color: white;
        margin-right: auto;
        display: block;
        float: none;
        margin-left: auto;
    }
    #sq2 {
        background-color: red;
        order: 2;
        height: 500px;
        width: 350px;
        margin-right: 30px;
        max-width: fit-content;
        max-height: fit-content;
        background-color: white;
        margin-right: auto;
        display: block;
        float: none;
        margin-left: auto;
    }
    #sq3 {
        background-color: red;
        order: 3;
        height: 500px;
        width: 350px;
        margin-right: 30px;
        max-width: fit-content;
        max-height: fit-content;
        background-color: white;
        margin-right: auto;
        display: block;
        float: none;
        margin-left: auto;
    }
    #sq4 {
        background-color: red;
        order: 4;
        height: 500px;
        width: 350px;
        margin-right: 30px;
        max-width: fit-content;
        max-height: fit-content;
        background-color: white;
        margin-right: auto;
        display: block;
        float: none;
        margin-left: auto;
    }
    #footer {
        background-color: purple;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 100%;
        border-radius: 10px;
        font-size: x-large;
        color: white;
        margin-top: 20px;
    }
    div>a:hover {
        background-color: blue;
    }
    div>p {
        text-align: justify;
        margin: 10px 15px 10px;
    }
    div>a {
        background-color: red;
        text-decoration: none;
        color: white;
        display: block;
        text-align: center;
        padding: 10px;
        margin: 10px;
        border-radius: 7px;
    }
    div>h4 {
        text-align: center;
        margin: 10px;
        font-size: x-large;
    }
    div>h1 {
        text-transform: uppercase;
        text-align: center;
        color: black;
    }
    div>img {
        width: 90%;
        height: 45%;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 10px;
    }
    #lala:hover {
        background-color: red;
    }
    #lala {
        background-color: whitesmoke;
        text-decoration: none;
        color: black;
        display: block;
        text-align: center;
        padding: 5px;
        margin: 10px;
        border-radius: 2px;
    }
}